node_modules
dist
logs
.git
.gitignore
.github
npm-debug.log*
*.tsbuildinfo
coverage
tmp
temp
.env
.env.local
.env.*.local

# Chỉ ignore local docker files, KHÔNG ignore docker config files
# docker-compose.override.yml
# docker-compose.local.yml

