# .github/workflows/deploy.yml
name: Deploy to Production

on:
  push:
    branches:
      - develop   # Chỉ chạy khi push vào develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/nova-sites
            echo "${{ secrets.ENV_PRODUCTION }}" > .env
            docker-compose pull
            docker-compose up -d --build
            docker image prune -f